body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 20px 0 30px 0;
    text-align: center;
}

h2 {
    margin: 10px 0 20px 0;
}

.sorting {
    border-left: blanchedalmond 1px solid;
    border-right: blanchedalmond 1px solid;
}

.text-rotate {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.sum-cell {
    font-size: 0px;
    padding: 2px !important;
    height: 50px;
}

.field-color {
    display: inline-block;
    width: calc(100% / 8);
    height: 50px;
    margin: 0px;
}

.field-color--yes {
    background-color: green;
}

.field-color--no {
    background-color: red;
}

.field-color--unsure {
    background-color: gray;
}

.little-list-group {
    font-size: 12px;
}

.cParallaxe {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 55px);
    background-image: url('./img/background.jpg');
}

.petitbouton {
    height: 100%;
}

.colora {
    background-color: #1B1B2D;
}

.titre-site {
    font-size: 60px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
}

.text-intro {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
}

footer {
    border-top: 2px solid black;
}

footer img {
    height: 50px;
    border-radius: 5px;
    margin: 0px 20px;
}