h1 {
    margin: 20px 0 30px 0;
    text-align: center;
}

h2 {
    margin: 10px 0 20px 0;
}

.text-rotate {
    writing-mode: vertical-rl;
    transform: rotate(200deg);
}

.total-col {
    background-color: rgb(255, 187, 51);
}

.total-row {
    background-color: rgb(51, 212, 255);
}

.sum-cell {
    font-size: 0px;
    padding: 2px !important;
    height: 50px;
}

.field-color {
    display: inline-block;
    width: calc(100% / 8);
    height: 50px;
    margin: 0px;
}

.field-color--yes {
    background-color: green;
}

.field-color--no {
    background-color: red;
}

.field-color--unsure {
    background-color: gray;
}

.little-list-group {
    font-size: 12px;
}

.cParallaxe {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  background-image: url('img/bg/bg2.jpg');
}

.petitbouton {
  height : 700px;
}

.colora {
  background-color: #1B1B2D;
}

.titre1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
}

.couleurb {
  background-color: #1B1B2D !important;
  border-color: #1B1B2D !important;
}

.corpsp {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color : #FFFFFF;
  font-size: 20px;
}

.hamburger{
  width: 100%;
}
