h1 {
    margin: 20px 0 30px 0;
}

h2 {
    margin: 10px 0 20px 0;
}

.field-color {
    display: inline-block;
    width: 4px;
    height: 15px;
    margin: 0 1px;
}

.field-color--yes {
    background-color: green;
}

.field-color--no {
    background-color: red;
}

.field-color--unsure {
    background-color: gray;
}

.field-color--no-data {
    background-color: black;
}

.little-list-group {
    font-size: 12px;
}
.cParallaxe {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  background-image: url('img/bg/background.jpg');
}
